.container {
  padding: 0 2rem;
}

.main {
  max-height: 100%;
  padding: 2rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

@media (min-width: 80em) {
  .container {
    width: 70%;
  }
}
